<%= form_with model: conference do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% conference.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :duration %><br>
    <%= form.number_field :duration %><br>
    <% conference.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>